

 html {
   background-color: #004a92;


 }



   .image {
      width: 100%;
      text-align: center;
      background-color: #004a92;
   }

   .fox {
     width: 100%;
     height: 100%;
     max-height: 40em;
     position: relative;
     top: 0;
   }

   .gif {
     position: absolute;
     position: absolute;
     width: 7em;
     top: 0.6em;
     right: 0em;
   }

   .reverse_gif {
     position: absolute;
     width: 7em;
     top: 0.6em;
     left: 0em;
   }



   .main_header {

   }

   .main_header h1{
     top: -15px;
     left: 0;
     width: 100%;
     font-family: 'Rancho', helvetica, cursive;
     color: #f7a31c;
     text-align: center;
     font-size: 8em;
     -webkit-text-stroke: 0.3px white;
     background-color: #004a92;
     margin: 0px;

   }

   .sub_header {
     top: -15px;
     left: 0;
     width: 100%;
     font-family: 'Rancho', helvetica, cursive;
     color: #f7a31c;
     text-align: center;
     font-size: 5em;
     -webkit-text-stroke: 0.3px white;
     background-color: #004a92;
     margin: 0px;

   }



   .update h3 {
     color: #f87c20;
     text-align: center;
     font-size: 85px;
     font-family: 'Spicy Rice', cursive;
     padding: 28px;
     border: solid #004a92 5px;
     border-radius: 15px;
     background-color: rgba(0, 74, 146, 0.08);
   }

   .update {
     text-align: left;
     font-size: 30px;
     font-family: 'Roboto', cursive;
     background-color: white;
     color: #004681;
     padding: 11px;
     border: #004a92 solid 6px;
     margin: 5px;
     font-weight: bold;

   }

   .update li {
     font-family: 'Roboto', cursive;
   }



   .canada_section h4 {
     margin: 0px;
     padding: 15px;
   }

   .canada_day  {
     text-align: center;
     font-size: 50px;
     color: white;
     background-color: #004a92;
     padding: 10px;

   }


   .canada_day .img-thumbnail {
     border: solid #004a92 5px;
     width: 5em;
     height: 5em;
     padding: 10px;
     margin: 5px;
   }


   .six {
     color: #004a92;
     text-align: center;
     font-size: 89px;
     font-family: 'Roboto', cursive;
     padding: 30px;
   }




   #profile {
     background-color: white;
     font-family: 'Roboto', cursive;
     font-size: 22px;
     border: solid black 2px;
     text-align: center;
     margin-top: : 5px;
     padding: 5px;
   }

  .img-circle {
  width: 13em;
  height: 13em;
  margin: 8px;
  border: solid ##004a92 5px;
  }
  .question {
    color: white;
    text-align: center;
    background-color: #004a92;
    font-family: 'Roboto', cursive;

  }

  .answer {
    color: #ff610c;
    text-align: center;
    font-size: 24px;
    height: 45px;
    font-family: 'Roboto', cursive;

  }

  .answer_life {
    color: #ff610c;
    text-align: center;
    font-size: 24px;
    height: 70px;
    font-family: 'Roboto', cursive;


  }

  .name {
    font-weight: bold;
    font-size: 30px;
    color: #004a92;
  }

  .hometown_header {
    color: #ff610c;
    text-align: center;
    font-size: 33px;
    height: 45px;
    font-family: 'Roboto', cursive;
    text-align: center;
    margin: 60px;
  }

  .overlay {
   background:transparent;
   position:relative;
   width:100%;
   height:480px; /* your iframe height */
   top:480px;  /* your iframe height */
   margin-top:-480px;  /* your iframe height */
}

  @media screen and (min-width: 416px) {
    .image {
       width: 100%;
       text-align: center;
       background-color: #004a92;
    }

    .fox {
      width: 100%;
      height: 100%;
      max-height: 40em;
      position: relative;
      top: 0;
    }
    .gif {
      position: absolute;
      position: absolute;
      width: 7em;
      top: 0.6em;
      right: 0em;
    }

    .reverse_gif {
      position: absolute;
      width: 7em;
      top: 0.6em;
      left: 0em;
    }



    .main_header {

    }

    .main_header h1{
      top: -15px;
      left: 0;
      width: 100%;
      font-family: 'Rancho', helvetica, cursive;
      color: #f7a31c;
      text-align: center;
      font-size: 8em;
      -webkit-text-stroke: 0.3px white;
      background-color: #004a92;
      margin: 0px;

    }

    .sub_header h5{
      left: 0;
      width: 100%;
      font-family: 'Rancho', helvetica, cursive;
      color: #f7a31c;
      text-align: center;
      font-size: 5em;
      -webkit-text-stroke: 0.3px white;
      background-color: #004a92;
      margin: 0px;

    }


    .six {
      color: #004a92;
      text-align: center;
      font-size: 69px;
      font-family: 'Wendy One', cursive;
      padding: 60px;
      border: solid #004a92 25px;
      margin-bottom: -5px;
      margin-top: -5px;
}

    .six_small {
      display: none;
    }

    .small_header {
      display: none;
    }

    #profile {
      background-color: white;
      font-family: 'Righteous', cursive;
      font-size: 22px;
      border: solid black 2px;
      text-align: center;
      margin-top: : 5px;
      padding: 5px;
    }

   .img-circle {
   width: 13em;
   height: 13em;
   margin: 8px;
   border: solid #004a92 5px;
   }
   .question {
     color: white;
     text-align: center;
     background-color: #004a92;
   }

   .answer {
     color: #ff610c;
     text-align: center;
     font-size: 24px;
   }
}
  @media screen and (max-width: 415px) {

  .main_header {
    display: none;
  }

  .small_header {
    top: -15px;
    left: 0;
    width: 100%;
    font-family: 'Rancho', helvetica, cursive;
    color: #f7a31c;
    text-align: center;
    font-size: 1em;
    -webkit-text-stroke: 0.3px white;
    background-color: #004a92;
    margin: 0px;
    margin-bottom: -11px;
    padding: 1em;
  }


  .gif {
    position: absolute;
    width: 3.5em;
    height: 3.5em;
    top: 1.5em;
    right: 1em;
  }

  .reverse_gif {
    position: absolute;
    width: 3.5em;
    height: 3.5em;
    top: 1.5em;
    left: 1em;
  }


  .six {
    display: none;
  }

  .six_small {
    color: #004a92;
    text-align: center;
    font-size: 28px;
    font-family: 'Wendy One', cursive;
    padding: 30px;
  }

  .update h3 {
    color: #ff9300;
    text-align: center;
    font-size: 36px;
    font-family: 'Spicy Rice', cursive;
    padding: 30px;
    background-color: rgba(0, 74, 146, 0.08);


  }

  .update {
    color: #004a92;
    text-align: left;
    font-size: 23px;
    font-family: Arial, cursive;
    padding: 30px;
  }


  .question {
    font-size: 22px;
  }

  .answer {
    color: #ff610c;
    text-align: center;
    font-size: 22px;
    height: 55px;
    font-family: 'Roboto', cursive;

  }

  .answer_life {
    color: #ff610c;
    text-align: center;
    font-size: 20px;
    height: 75px;
    font-family: 'Roboto', cursive;

  }

  .img-circle {
  width: 9em;
  height: 9em;
  margin: 8px;
  border: solid #004a92 5px;
  }

  .canada_day {
    text-align: center;
    font-size: 16px;
    color: white;

  }


  .canada_day .img-thumbnail {
    display: none;
  }

  .map {
    display: none;
  }

}
